/* ..................................
Colors
.................................. */
$colors: (
  'light': #fff,
  'black': #000,
  'base': #333,
  'body': #fefefe,
  'primary': #5d76cb,
  'secondary': #ffa500,
  'border': #999,
  'gray': #999,
);

/* ..................................
Other
.................................. */
$ease-main: 0.25s ease;
$radius-map: (
  'sm': 4px,
  'md': 8px,
  'lg': 16px,
);

/* ..................................
Fonts
.................................. */
$font-primary: 'Roboto', sans-serif;
